button {
    cursor: pointer;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    margin: 0 7px 11px 0;
    color:#888;
    text-align: center;
    user-select: none;
}


input{
    padding: 0 10px;
    background: #eee;
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0,0,0,0.2);
    font-size: 17px;
    line-height: 40px;
    text-align: right;
    letter-spacing: 1px;
}