<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/http2.css')}}">
    <title>Calc</title>
</head>
<body>
    <p>
        <input type="number" name="a" id="a" placeholder="a">
        <input type="number" name="b" id="b" placeholder="b">
        <label id="result">?</label>
    </p>
    <p>
        <button id="add">Add a and b</button>
        <button id="subtract">subtract a and b</button>
        <button id="multiply">multiple a and b</button>
        <button id="divide">divide a and b</button>
    </p>
    <script type="text/javascript" src="{{ url_for('static',filename='js/http2.js')}}"></script>
</body>
</html>